{% extends 'base.html' %}

{% block title %}
    <title>About Us - Taskmate</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to Taskmate, your ultimate task management solution! Our mission is to help you stay organized and productive by providing a simple and efficient platform to manage your to-do lists.</p>
        <p>At Taskmate, we understand the importance of staying on top of your tasks, whether they are personal or professional. Our user-friendly interface allows you to easily add, edit, and delete tasks, set deadlines, and prioritize your work.</p>
        <p>We are committed to continuously improving our application to meet the evolving needs of our users. If you have any suggestions or feedback, please feel free to reach out to us through the Contact Us page.</p>
        <p>Thank you for choosing Taskmate as your task management tool. We look forward to helping you achieve your goals!</p>
        <h1>{{ about_text }}</h1>
    </div>
{% endblock content %}